<% 
label ||= ""
placeholder ||= "..."
model ||= ""
id ||= model.parameterize + rand(0...10000) # TODO : how to handle generate unique id
%>

<label 
    class="form-label"
    aria-label="<%= label %>"
    :for="<%= id %>">
    <%= label %>
</label>
<input  :id="<%= id %>"
    class="form-control"
    type="text"
    v-model="<%= model %>"
    placeholder="<%= placeholder %>">