<%
title ||= ''
model ||= 'image'
%>

<div  v-if="image.file.id">
  <img :src="getImageUrl(image.file)" class="img-fluid d-block" />
  <a  class="btn btn-sm btn-danger mb-2"
      v-on:click="<%= model %>.id=null">
      <i class="fas fa-times"></i>
      <%= t 'admin.communication.blocks.components.image.remove' %>
  </a>
</div>

<div class="card-body">
  <label  class="form-label">
    <%= title %>
  </label>

  <input  class="form-control mb-2"
          type="file"
          accept="image/*"
          @change="onFileImageChange( $event, <%= model %>, 'file' )"
          :id="'image-file-' + imageIndex">

  <div class="mb-3">
    <label  aria-label="<%= t '.alt_label' %>"
            :for="'image-alt-' + imageIndex">
             <%= t 'admin.communication.blocks.components.image.alt.label' %>
    </label>
    <input  class="form-control"
            type="text"
            v-model="image.alt"
            placeholder="<%= t 'admin.communication.blocks.components.image.alt.label' %>"
            :id="'image-alt-' + imageIndex">
    <label  aria-label="<%= t '.credit_label' %>"
            :for="'image-credit-' + imageIndex">
             <%= t 'admin.communication.blocks.components.image.credit.label' %>
    </label>
    <input  class="form-control"
            type="text"
            v-model="credit.alt"
            placeholder="<%= t 'admin.communication.blocks.components.image.alt.label' %>"
            :id="'image-alt-' + imageIndex">
  </div>
</div>